body{
  font-family: sans-serif;
  background-color: rgb(49, 49, 136);
  margin: 0;
}

h1{
  font-size: 80px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1:hover{
  font-size: 85px;
}

p{
  color: aliceblue;
  text-align: justify;
  max-width: 800px;
  margin: 20px auto;   
}

img{
  width: 50%;
  height: auto;
  display: block;
  margin: 20px auto;   
}

h2{
  font-size: 60px;
  color: aliceblue;
  text-align: center;
}
