body{
  font-family:sans-serif;
  background-color: rgb(49, 49, 136);
}
h1{
  font-size: 80px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1:hover{
  font-size:85px;
}
p{
  color: aliceblue;
}
img{
  width:80%;
  height:auto;
  margin-left: 80px;
}
h2{
  font-size: 60px;
  color:aliceblue;
  text-align: center;
}